/*cores*/
:root {
    --green: rgba(71, 106, 74, 0.788);
    --black: rgb(28, 28, 28);
    --white: rgb(255, 255, 255);
}

:root {
    --titulo: Georgia, 'Times New Roman', Times, serif;
    --texto:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--texto);
    background-color: var(--black);
    color:var(--white);
}

.decode-container {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, var(--black), var(--green));
}

/*Header*/

header {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5rem;
    background-color: var(--black);
    color: var(--green);
    font-family: var(--titulo);
}

header h1 {
    display: flex;
    gap: 15px;
    font-size: 45px;
    align-items: center;
}

header h1 i {
    font-size: 20px;
    font-style: italic;
}

/* Cards */

.cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    padding: 20px;
}

.cards .card {
    width: 25rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: var(--black);
    border-radius: 10px;
    padding: 10px;
    box-shadow: var(--black) 0px 3px 5px;
}

.cards .card:hover {
    transform: scale(1.1);
    transition: transform 0.1s ease-in-out ;
}


/*card*/
.card h2 {
    font-size: 20px;
    text-decoration: underline 1px;
    text-underline-offset: 10px;
    font-family: var(--titulo);
    cursor: pointer;
}

.card .ex {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 5px;
    cursor: default;
}

.card .ex h3 {
    font-weight: 600;
    cursor: pointer;
}

.card .ex h3 i {
    font-size: 10px;
}

.main_card {
    width: 40%;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: var(--black);
    border-radius: 10px;
    padding: 10px;
    box-shadow: var(--black) 0px 3px 5px;
}

.main_card h2 {
    font-size: 30px;
    font-family: var(--titulo);
}

.main_card p {
    display: none;
}

.main_card h3 {
    font-size: 15px;
}

.main_card h3 i {
    font-size: 13px;
}

/*Resultado*/

.cripto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.cripto .input {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    font-size: 15px;
}

.cripto .input textarea {
    font-size: 15px;
    padding: 5px;
    color: var(--white);
    background-color: var(--black);
    border-radius: 10px;
}

.cripto button {
    width: 15rem;
    height: 3rem;
    font-size: 15px;
    font-family: var(--texto);
    background-color: var(--black);
    color: var(--white);
    border: none;
    box-shadow: var(--black) 0px 0px 5px;
    border-radius: 10px;
    cursor: pointer;
}

.cripto button:hover {
    transform: scale(1.1);
    transition: all 0.1s ease-in-out;
}

.cripto .result {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    gap: 10px;
    padding: 1rem;
}

.cripto .result p {
    font-size: 15px;
    background-color: var(--black);
    padding: 1rem;
    border-radius: 15px;
    width: 80%;
    height: 15rem;
    overflow: auto;
    box-shadow: var(black) 0px 0px 5px;
}

#copy_result {
    cursor: pointer;
}

